<a href="https://colab.research.google.com/github/codexuttam/PersoonalEmployeeAdmin/blob/main/assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Theory Questions**

1.What are data structures, and why are they important?

 ->  Data structures are ways of organizing and storing data in a computer so it can be used efficiently. They help in managing data for fast access, better memory use, and smooth execution of algorithms. Common examples include arrays, linked lists, stacks, queues, trees, and graphs. Data structures are essential because they make programs faster, more organized, and capable of solving real-world problems effectively.

2. Explain the difference between mutable and immutable data types with examples.

 -> Mutable data types can be changed after they are created, while immutable data types cannot be changed once created.

In [ ]:
my_list=[1,2,3,4]
my_list.append(5)
print(my_list) #here the original list is changed

[1, 2, 3, 4, 5]

In [ ]:
my_string="Hello"
my_string=my_string+"World"
print(my_string) #here u can see that we created a new string. the first string is unchnaged.

HelloWorld

3. What are the main differences between lists and tuples in Python?

 -> The main difference between lists and tuples is that lists are mutable, meaning their elements can be changed, added, or removed, while tuples are immutable and cannot be modified after creation. Lists use square brackets [], whereas tuples use parentheses (). Because tuples are immutable, they are generally faster and used for fixed data, while lists are more flexible and used when the data may change. Additionally, lists have more built-in methods than tuples, making them more versatile for dynamic operations.

4. Describe how dictionaries store data.

 -> Dictionaries in Python store data as key-value pairs, where each unique key maps to a specific value. Internally, Python uses a hash table to store these pairs, allowing for fast data access. When you add a key, Python calculates its hash (a unique integer) to determine where to store the value in memory. This makes retrieving, updating, or deleting data very efficient, typically in constant time. For example, in student = {"name": "Alice", "age": 20}, "name" and "age" are keys, and "Alice" and 20 are their corresponding values.

5. Why might you use a set instead of a list in Python?

 -> I might use a set instead of a list in Python when I need to store unique elements and don’t care about the order. Sets automatically remove duplicates and offer faster lookup, insertion, and deletion compared to lists because they are implemented using hash tables. For example, if you're checking membership (e.g., if an item exists), a set is more efficient than a list. However, sets are unordered and don’t allow indexing like lists do.

6. What is a string in Python, and how is it different from a list?

 -> In Python, a string is a sequence of characters enclosed in single (' ') or double (" ") quotes, like "hello". It is an immutable data type, meaning its contents cannot be changed after creation.

  A list, on the other hand, is a mutable sequence that can contain elements of different data types, including strings, numbers, or even other lists.

7. How do tuples ensure data integrity in Python?

 -> Tuples ensure data integrity in Python by being immutable, meaning their contents cannot be changed after creation. Once a tuple is defined, you cannot add, remove, or modify its elements. This protects the data from accidental changes, making tuples ideal for storing constant or fixed data (like coordinates, configuration settings, or database keys). Their immutability also allows them to be used as keys in dictionaries or stored in sets, unlike lists. This reliability helps maintain consistent, trustworthy data throughout a program.

8. What is a hash table, and how does it relate to dictionaries in Python?

 -> A hash table is a data structure that stores data in key-value pairs and uses a hash function to compute an index (called a hash) where each key-value pair is stored. This allows for very fast data lookup, insertion, and deletion—typically in constant time.

  In Python, the dictionary (dict) is implemented using a hash table. When you create a dictionary, Python hashes each key to determine where to store the associated value in memory. This is why keys in dictionaries must be immutable (like strings, numbers, or tuples)—so their hash values don’t change.

9. Can lists contain different data types in Python?

 -> Yes, lists can contain different data types in Python 3.

10. Explain why strings are immutable in Python.

 -> Strings are immutable in Python to ensure data integrity, security, and performance. Once a string is created, it cannot be changed—any operation that seems to modify a string (like replace() or +=) actually creates a new string.

 This immutability offers several benefits like safety, performance, hashing.

11. What advantages do dictionaries offer over lists for certain tasks?

 -> Dictionaries offer key advantages over lists when tasks involve quick lookups and meaningful associations between data. Unlike lists, which use numeric indexes, dictionaries store data as key-value pairs, allowing for faster access to values using unique keys. This makes code more readable and organized, especially when dealing with structured data like user profiles or configurations. For example, accessing a student's age using student["age"] in a dictionary is more intuitive than relying on a specific index in a list. Overall, dictionaries are ideal when data needs to be identified and accessed using descriptive keys.

12. Describe a scenario where using a tuple would be preferable over a list.

 -> A tuple is preferable over a list when you need to store a fixed collection of items that should not change throughout the program. For example, if you're storing the coordinates of a location like (latitude, longitude), using a tuple ensures the values remain constant and are protected from accidental modification. Since tuples are immutable, they also offer better performance and can be used as keys in dictionaries, unlike lists. This makes them ideal for representing constant data or using them in situations where data integrity is crucial.

13. How do sets handle duplicate values in Python?

 -> In Python, sets automatically remove duplicate values. When you create a set, it only stores unique elements, even if you try to add the same value multiple times. This is because sets are based on hash tables, which do not allow duplicate keys.

14. How does the “in” keyword work differently for lists and dictionaries?

 -> In Python, the in keyword is used to check for membership, but it works differently for lists and dictionaries:

   In lists, the "in" keyword ensures that whether the data is imside the list or not.

   Whereas, in dictonary the "in" keyword ensures that whethre the key exists or not.

15. Can you modify the elements of a tuple? Explain why or why not?

 -> No, I cannot modify the elements of a tuple in Python because tuples are immutable. This means once a tuple is created, its contents cannot be changed, added to, or removed. Tuples are designed to protect data integrity. Immutability ensures that data stored in a tuple remains constant, which is useful for fixed collections like coordinates, dates, or keys in dictionaries. It also allows for performance optimizations and safe use in sets or as dictionary keys.

16. What is a nested dictionary, and give an example of its use case?

 -> A nested dictionary in Python is a dictionary inside another dictionary. It allows you to store complex, hierarchical data using multiple levels of key-value pairs.

In [ ]:
students = {
    "101": {"name": "Alice", "age": 20, "grade": "A"},
    "102": {"name": "Bob", "age": 21, "grade": "B"},
}
print(students["101"]["name"])
print(students["102"]["age"])
print(students["101"]["grade"])

Alice
21
A

Nested dictionaries are useful when managing structured data, like storing user profiles, database records, JSON data, or any situation where items have multiple attributes.

17. Describe the time complexity of accessing elements in a dictionary.

 -> Accessing elements in a dictionary in Python has a time complexity of O(1) on average, meaning it takes constant time regardless of the dictionary's size. This efficiency comes from the hash table structure used by dictionaries, where each key is hashed to compute its storage index.

  However, in rare cases—like when many keys have the same hash (causing collisions)—the time complexity can degrade to O(n) in the worst case. But Python's hashing algorithm is optimized to minimize such collisions, so dictionary lookups are typically very fast.

18. In what situations are lists preferred over dictionaries?

 -> Lists are preferred over dictionaries in situations where:

    1. Order matters – Lists maintain the order of elements, useful for sequences or when position is important (e.g., indexing, slicing).

    2. Simple collections – When storing a group of items without the need for key-value pairs (e.g., a list of names or numbers).

    3. Iteration by position – If you need to loop over items based on their index.

    4. Duplicates are allowed – Lists can store duplicate values, while dictionary keys must be unique.

    5. Less memory usage – For small or simple datasets, lists are usually more memory-efficient than dictionaries.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

 -> Dictionaries in Python are considered unordered collections because they are implemented using hash tables, which do not store elements in any predictable sequence. This means that the order in which key-value pairs are inserted is not guaranteed to be preserved when the dictionary is accessed or iterated over. As a result, elements cannot be retrieved based on their position, unlike lists. Instead, data retrieval in dictionaries is based solely on unique keys, allowing for fast and efficient access but not positional ordering. This unordered nature affects how data is processed, especially in tasks where the sequence of items is important, and emphasizes that dictionaries are best suited for applications where key-based lookup is required rather than ordered data handling.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

 -> The key difference between a list and a dictionary in terms of data retrieval lies in how data is accessed. In a list, elements are retrieved using integer indexes that represent their position in the sequence (e.g., list[0] for the first item). This makes lists suitable for ordered data where the position matters. In contrast, a dictionary retrieves values using unique keys, not positions (e.g., dict["name"]), allowing for faster lookups based on meaningful identifiers. While list access is index-based and order-sensitive, dictionary access is key-based and optimized for quick, direct retrieval of data.

**Code Based Questions**

1. Write a code to create a string with your name and print it.

In [ ]:
my_str="Hey, I am Uttamraj Singh"
print(my_str)

Hey, I am Uttamraj Singh

2. Write a code to find the length of the string "Hello World"

In [1]:
my_str= "Hello World"
print(len(my_str))

11

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [2]:
my_str="Python Programming"
print(my_str[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
my_str="hello"
my_str=my_str.upper()
print(my_str)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
my_str="I like apple"
my_str=my_str.replace("apple","orange")
print(my_str)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
my_list=[1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
my_list= [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [10]:
my_list=['a','b','c','d']
print("the second element is", my_list[1])

the second element is b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
my_list=[10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [18]:
my_tuple=('red','green','blue','yellow')
print(my_tuple[1:])

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [19]:
my_tuple=(10,20,5,15)
print(min(my_tuple))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [20]:
my_tuple=('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [21]:
my_tuple=("apple","banana","kiwi")
print("kiwi" in my_tuple)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [24]:
my_set=('a','b','c')
print(my_set)

('a', 'b', 'c')

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [25]:
my_set={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [26]:
my_set1= {1,2,3}
my_set2= {3,4,5}
print(my_set1.union(my_set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [27]:
my_set1={1,2,3}
my_set2={2,3,4}
print(my_set1.intersection(my_set2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [29]:
my_dict= {"name":"Uttamraj","age":19,"city":"Delhi"}
print(my_dict)

{'name': 'Uttamraj', 'age': 19, 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [30]:
my_dict={'name': 'John', 'age': 25}
my_dict["country"]="USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [31]:
my_dict= {'name': 'Alice', 'age': 30}
print(my_dict["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [32]:
my_dict= {"name": "Bob", "age":"22", "city": "New York"}
my_dict.pop("age")
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [33]:
my_dict= {"name": "Alice", "city": "Paris"}
print("city" in my_dict)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [35]:
my_list=[1,2,3,4]
my_tuple=(1,2,3,4)
my_dict={"name":"Uttamraj","age":19,"city":"Delhi"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Uttamraj', 'age': 19, 'city': 'Delhi'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [64]:
import random
random_list = random.sample(range(1, 101), 5)
random_list.sort()
print("Sorted list:", random_list)

Sorted list: [20, 47, 80, 90, 99]

28. Write a code to create a list with strings and print the element at the third index.

In [61]:
my_list= ['h', 'e','l','l','o']
print(my_list[3])

l

29. Write a code to combine two dictionaries into one and print the result.

In [55]:
my_dict1= {"name 1":"Uttamraj","age 1":19,"city 1":"Delhi"}
my_dict2= {"name 2":"Saumya","age 2":18,"city 2":"Haridwar"}
print(my_dict1, my_dict2)

{'name 1': 'Uttamraj', 'age 1': 19, 'city 1': 'Delhi'} {'name 2': 'Saumya', 'age 2': 18, 'city 2': 'Haridwar'}

30. Write a code to convert a list of strings into a set.

In [60]:
string_list = ["Tejas", "Sukhoi", "Rafale", "Mirage", "Jaguar"]
string_set = set(string_list)
print("Set of strings:", string_set)

Set of strings: {'Tejas', 'Mirage', 'Rafale', 'Jaguar', 'Sukhoi'}